$accent: #66bbe2;
$default: #243f4d;
$often: #7b7b7b;





%dmsans-bold-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-medium-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-regular-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%rubik-Bold-700 {
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: 700;
}

%rubik-medium-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubik-regular-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}