@import 'vars';
@import 'fonts';
@import 'animation';
@import 'reset';
@import 'global';


.header {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 45px 0;
    }
}

.logo {
    display: flex;
    &__text {
        font-size: 36px;
        line-height: 58px;
        color: #436372;
        margin-left: 10px;
    }
}

.menu {
    &__list{
        display: flex;
    }
    &__list-item + &__list-item {
        margin-left: 35px;
    }
    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        transition: all .3s;
        border-bottom: 2px solid transparent;
        &:hover {
        color: $accent;
        border-color: $accent;
        }
    }

    &__list-link--active {
        color: $accent;
        border-bottom: 2px solid $accent;
    }
}



.nav-user {
    display: flex;
    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #edf1f4;
        &:hover .nav-user__search-icon{
            transform: rotate(360deg);
        }
    }
    &__search-icon {
        transition: all .3s;
    }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        width: 180px;
        height: 50px;
        border-radius: 50px;
        background-color: #fcd7b6;
    }

    &__heart,
    &__cart {
        position: relative;
        padding: 10px;
        &:hover .nav-user__num {
            background: #000;
            color: #fff;
        }
    }
    &__line {
        width: 1px;
        height: 30px;
        background-color: #fff;
        margin: 0 30px;
    }
    &__num {
        position: absolute;
        top: 2px;
        right: 0;
        z-index: 5;
        text-align: center;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        transition: all .3s;
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #a3bbc8;
        &:hover .nav-user__menu-dots {
            animation: anim-dots 1s;
        }
    }
}






@import 'media';