@import 'reset';
@import 'vars';
@import 'fonts';
@import 'animation';
@import 'libs';
@import 'global';



// header
.header {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 15px;
        
    }
}

.logo {
    display: flex;
}

.menu {
    &__list{
        display: flex;
    }
    &__list-item + &__list-item {
        margin-left: 35px;
    }
    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        transition: all .3s;
        border-bottom: 2px solid transparent;
        padding: 0 0 4px;
        &:hover {
        color: $accent;
        border-color: $accent;
        }
    }

    &__list-link--active {
        color: $accent;
        border-bottom: 2px solid $accent;
    }
}



.nav-user {
    display: flex;
    .search {
        position: relative;
        transition: all .3s;
        &__input {
            position: absolute;
            height: 50px;
            width: 300px;
            left: -300px;
            border: none;
            background-color: #fcd7b6;
            font-size: 16px;
            border-radius: 50px;
            padding: 0 40px 0 20px;
            outline: none;
            transform: scale(0);
            transform-origin: right;
            transition: all .3s;
            text-transform: capitalize;
        }
    
        &__input.active {
            height: 50px;
            width: 300px;
            left: -300px;
            transform-origin: right;
            transform: scale(1);
        }
    
        &__btn {
            position: absolute;
            top: 50%;
            right: 0px;
            width: 50px;
            height: 50px;
            z-index: 5;
            border-radius: 50%;
            background-color: #ccc;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .3s;
        }
    
        &__btn.active {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #ccc;
            transform: translateY(-50%) rotate(360deg);
        }
    
    
        &__cancel {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            color: #fff;
            font-size: 25px;
            cursor: pointer;
            transition:  all .3s;
        }
    
        &__cancel.active {
            font-size: 30px;
            top: 0;
            right: -15px;
            transform: translateY(-50%) rotate(360deg);
            color: #fcd7b6;;
        }
    }
    
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        width: 180px;
        height: 50px;
        border-radius: 50px;
        background-color: #fcd7b6;
    }

    &__heart,
    &__cart {
        position: relative;
        padding: 10px;
        &:hover .nav-user__num{
            background: #000;
            color: #fff;
        }
    }
    &__line {
        width: 1px;
        height: 30px;
        background-color: #fff;
        margin: 0 30px;
    }
    &__num {
        position: absolute;
        top: 2px;
        right: 0;
        z-index: 5;
        text-align: center;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        transition: all .3s;
        font-size: 12px;
        line-height: 16px;
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #a3bbc8;
        &:hover .nav-user__menu-dots {
            animation: anim-dots 1s;
        }
    }
}
///////////////////////////////////////







// top-slider
.top-slider {
    background-color: #fcd7b6;
    padding: 100px 0 30px;
    &__container {
        max-width: 1460px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        padding-top: 120px;
        padding-left: 140px;
    }
    &__title {
        font-size: 72px;
        line-height: 70px;
        color: $default;
    }
    &__descr {
        max-width: 380px;
        margin: 40px 0;
        font-size: 18px;
        line-height: 30px;
        color: #436372;
    }
    &__btn {
        padding: 20px 100px 20px 20px;
        background-color: #7aadc9;
        font-size: 15px;
        line-height: 12px;
        color: #fff;
        position: relative;
        transition: all .3s;
        &:hover {
            background-color: #2e9cd8;
        }
        &:hover::after {
            animation: anim-arrow 1s infinite;
        }
        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 4px);
            right: 18px;
            width: 22px;
            height: 8px;
            background: url('../images/btn-arrow/btn-arrow.svg') center center / cover no-repeat;
        }
    }
}


.slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-50px);
    counter-reset: counter;
}

.slick-dots li{
    font-size: 0;
    position: relative;
    &::before {
        content: counter(counter);
        counter-increment: counter(counter);
    }
}

.slick-dots li + li {
    margin-left: 15px;
    display: block;
}

.slick-dots li button {
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.330);
    &:focus {
        outline-color: transparent;
    }
}

.slick-dots .slick-active button{
    background-color: #fff;
}
///////////////////////////////




// services
.services {
    min-height: 230px;
    display: flex;
    justify-content: space-around;
    background-color: #fef7f0;
    &__item {
        display: flex;
        align-items: center;
        &:nth-child(2) {
            max-width: 650px;
            padding: 0 140px;
            border-left: 1px solid #48484850;
            border-right: 1px solid #48484850;
        }
    }
    &__icon {
        margin-right: 25px;
    }
    &__subtitle {
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
        color: #414141;
    }
    &__text {
        max-width: 200px;
        color: #585858;
        line-height: 32px;
        @extend %dmsans-400;
    }
}
////////////////////////




// product
.product {
    padding: 70px 0 180px;
    &__items {
        min-height: 790px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 35px;
    }
}


.tab {
    display: flex;
    justify-content: center;
    &__btn {
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #8b8b8b;
        transition: all .3s;
        &:hover {
            color: #000;
        }
    }
    &__btn + &__btn {
        margin-left: 30px;
    }
}
.tab-indent {
    margin: 40px 0 76px;
}


.product-item {
    position: relative;
    max-width: 270px;
    height: 375px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.08);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:hover {
        .product-item__choice {
            transform: translateY(0);
        }
    }
    &--sale::before {
        content: 'SALE';
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 2px 10px;
        background-color: #fcd7b6;
        z-index: 5;
        border-radius: 10px;
        color: #000;
    }
    &__box {
        position: relative;
        max-width: 230px;
        width: 100%;

    }
    &__star {
        margin: 20px 0;
    }
    &__img {
        width: 100%;
        height: 206px;
        object-fit: contain;
    }
    &__choice {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 10px;
        transform: translateY(3000%);
        transition: all .3s;
    }
    &__circle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        path {
            transition: all .3s;
        }
        &:hover {
            background-color: #a3bac7;
            path {
                fill: #fff;
            }
        }
    }

    &__title {
        line-height: 40px;
        @extend %dmsans-500;
    }
    &__price {
        line-height: 40px;
        @extend %dmsans-700;
        color: #a3bbc8;
    }
}




// about
.about {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    &__left,
    &__right {
        width: 50%;
        min-height: 390px;
        display: flex;
        background-color: #feefe2;
        position: relative;
    }

    &__img {
        position: absolute;
        top: -100px;
        left: 150px;
    }

    &__wrap {
        // padding: 100px 0 0 400px;
        padding: 10% 0 0 50%;
    }

    &__title {
        margin-bottom: 25px;
        font-size: 26px;
        color: $default;
        @extend %dmsans-700;
    }
    &__descr {
        max-width: 340px;
        margin-bottom: 20px;
        color: $default;
        @extend %rubik-400;
    }
    &__link {
        padding: 15px 65px 15px 10px;
        border: 1px solid $default;
        border-radius: 5px;
        color: #436372;
        position: relative;
        transition: all .3s;
        &:hover::after {
            animation: anim-arrow 1s infinite;
        }
        &:hover {
            box-shadow: 0 0 2px 2px rgba(78, 113, 230, 0.459);
        }
        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 4px);
            right: 8px;
            width: 22px;
            height: 8px;
            background-image: url('../images/btn-arrow/btn-arrow-blue.svg');
        }
    }
}
///////////////////////////




// design
.design {
    padding: 100px 0;
    &__items {
        min-height: 532px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 30px;
        align-content: flex-start;
    }
    &__item {
        max-width: 370px;
        min-height: 246px;
        padding: 40px 0 0 30px;
        background-color: #f8f8f8;
        z-index: 10;
    }
    &__wrap {
        position: relative;
        height: 200px;
    }
    &__descr {
        max-width: 200px;
        font-size: 20px;
        @extend %dmsans-700;
    }
    &__link {
        color: #a3bbc8;
        @extend %dmsans-700;
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -5;
        height: 200px;
        object-fit: scale-down;
    }
}
///////////////////////////





// video
.video {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 505px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/////////////////////////





// articles
.articles {
    position: relative;
    min-height: 840px;
    padding-top: 110px;
    z-index: 5;
    &__box {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__link { 
        position: absolute;
        right: 0;
        padding-right: 26px;
        transition: all .3s;
        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 6px);
            right: 5px;
            width: 7px;
            height: 12px;
            background: url('../images/articles/arrow.svg') center center / cover no-repeat;
        }
        &:hover:after {
            animation: anim-arrow .8s infinite;
        }
        &:hover {
            color: #2e9cd8;
        }
    }
    &__items {
        display: flex;
        align-items: flex-start;
        column-gap: 30px;
        padding-top: 40px;
    }
    &__item {
        max-width: 372px;
        min-height: 420px;
        position: relative;
        background-color: #fff;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow: 1px 0 1px 0 #000;
    }
    &__img-box {
        position: relative;
        margin-bottom: 36px;
    }
    &__images {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__news {
        padding: 10px 32px;
        position: absolute;
        left: 30px;
        bottom: -20px;
        background-color: #a3bbc8;
        border-radius: 50px;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        overflow: hidden;
        @extend %dmsans-700;
        &:after {
            content: '';
            position: absolute;
            top: -30px;
            left: -150%;
            transform: rotate(45deg);
            width: 20px;
            height: 100px;
            background-color: #fff;
        }
        &:hover:after {
            animation: anim-news 1s;
        }
    }

    &__descr-box {
        padding: 0 30px;
        position: relative;
        min-height: 80px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 80%;
            height: 1px;
            background-color: $often;
        }
    }
    &__descr {
        font-size: 18px;
        line-height: 21px;
        color: #262626;
        @extend %dmsans-500;
    }

    &__link-box {
        padding: 5px 0 0 30px;
    }

    &__data {
        margin-right: 30px;
    }
    &__data,
    &__admin {
        font-size: 12px;
        line-height: 30px;
        @extend %rubik-400
    }
}

.partners {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 440px;
    background-color: #fef7f0;
    z-index: -30;
    &__inner {
        padding-top: 300px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
}
//////////////////////////////////






// footer
.footer-top {
    padding: 90px 0 70px;
    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__contact {
        max-width: 200px;
    }

    &__services,
    &__account {
        max-width: 120px;
    }

    &__inner {
        color: $often;
    }

    &__address {
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__phone, &__email {
        font-size: 14px;
        line-height: 32px
    }

    &__list {
        font-size: 14px;
        line-height: 24px;
        color: $often;
        @extend %rubik-400;
    }

    &__title {
        text-transform: uppercase;
        font-size: 16px;
        margin: 20px 0;
        color: #1f2044;
        @extend %dmsans-700;
    }

    &__newsletter-text {
        max-width: 280px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 24px;
        color: $often;
        @extend %rubik-400;
    }
}

.form {
    &__input {
        padding: 15px;
        border: none;
        background-color: rgba(252, 215, 182, 0.404);
        &::placeholder {
            @extend %rubik-400;
            color: #234969;
        }
    }
    .form__btn {
        border: none;
        padding: 15px;
        cursor: pointer;
        background-color: #234969;
        color: #fff;
        transition: all .3s;
        &:hover {
            background-color: #234a69ca;
        }
    }
}


.footer__line {
    margin: 0;
    border-bottom: none;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 35px;
    &__copy {
        color: $often;
        font-size: 14px;
        line-height: 32px;
    }
    &__list {
        display: flex;
    }
    &__item {
        padding-right: 10px;
        &:last-child {
            padding-right: 0;
        }
    }
    &__item + &__item {
        padding-left: 10px;
        border-left: 2px solid $often;
    }
    &__link {
        color: $often;
    }
}
////////////////////// footer





@import 'media';


